@import 'styles/variables';
@import 'styles/functions';

.title {
    font-weight: 800;
    font-size: clamp(2vw, 20vw, 7.5rem);
    line-height: 0.9;
    width: max-content;
    overflow: hidden;
    transform: translateX(-5px); // y bueno
    // filter: drop-shadow(4px 4px 0px #00000050);
    color: #434343;
    text-transform: uppercase;

    @include mobile {
        font-size: clamp(2vw, 14vw, 5.5rem);
        transform: translateX(0);
        margin: 0 auto;
    }

    .char{
        display: inline-block;

        transform: translateY(155px);
        transition: transform .5s;

        will-change: transform;
    }
}