@import '../../styles/variables';
@import '../../styles/functions';

.cards_container{
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    .card{
        width: min(600px, 95vw);
        margin-inline: auto;
        background: rgb(232,166,166);
        background: linear-gradient(72deg, rgba(232,166,166,1) 0%, rgba(194,212,236,1) 100%);
        flex-basis: 350px;
        border-radius: 1rem;
        padding: 2rem 1rem;
        margin-block: 1rem;
        position: relative;        
        z-index: 0;
        box-shadow: 4px 4px #e1b7b6, 4px 5px 0 2px #fff;
        &.activeCard {
            .star {
                animation: show 300ms ease-in-out forwards;
                transition: opacity 1s ease-in-out scale 300ms;
            }
        }
        p {
            font-weight: 500;
        }
        .separator{
            height: 3px;
            width: 40%;
            margin-inline: auto;
            border-radius: 0.5rem;
            background-color: #E0D39F;
            margin-top: 0.5rem;
        }
        .card_header{
            img {
                margin: 0 auto;
            }
            .title{
                text-align: center;
                font-weight: 400;
                font-size: 1.2rem;
                font-weight: bold;
                margin-top: 1rem;
            }
        }
        .card_body{
            padding: 1rem;
        }
        &::after{
            content: '';
            background-color: white;
            position: absolute;
            border-radius: 0.8rem;
            inset: 0;

            z-index: -1;
        }

    }
}
// Define the color and glow variables
$starColor: #ffd700;  // Golden color
$glowColor: #ffbb00;  // Glow color

.stars{
    display: flex;
    .star {
        opacity: 0;
        color: $starColor;
        font-size: 2.5rem;
        cursor: initial;
        scale: 0
    }
}

@keyframes show {
    90% { scale: 1.2 }
    100% { opacity: 1; scale: 1 }
}

