@import '../../styles/variables';
@import '../../styles/functions';


.news_link{
    width: 200px;
    height: 100px;
    position: relative;
    img{
        object-fit: contain;
        // width: auto;
    }
}