@import '../../styles/variables';
@import '../../styles/functions';


.news_link{
    width: 200px;
    height: 100px;
    position: relative;
    @include mobile {
        width: 100px;
        height: 50px;
    }
    img{
        object-fit: contain;
        filter: grayscale(1);
        // width: auto;
    }
}

.logos_list {
    @include mobile {
        flex-wrap: wrap;
    }
}