@import '../../styles/variables';
@import '../../styles/functions';

.social_icons_list {

    align-items: center;
    .icon{
        width: 40px;
    }
    @include mobile {
        justify-content: center;
    }
}