@import '../../styles/variables';
@import '../../styles/functions';

.main {
    background-color: white;
    position: relative;
}

.section_faq {
    position: relative;
}

.section_reviews {
    position: relative;
}

.footer {
    // position: relative;
    background: white;
    z-index: 1;
    .logo_footer {
        width: 300px;
        img{
            object-fit: contain;
        }
    }
    .social_links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

