@import '../../styles/variables';
@import '../../styles/functions';

.main {
    background-color: white;
    position: relative;
}

.section_faq {
    position: relative;
}

.section_reviews {
    margin-top: -1px;
    position: relative;
    background-color: #f0d6d6;
}

.slider_container {
    width: min(700px, 95vw);
    margin-inline: auto;
    padding-block: 1rem;
}

.footer {
    // position: relative;
    padding-bottom: 5rem;
    background: white;
    z-index: 1;
    .logo_footer {
        width: 300px;
        height: 170px;
        position: relative;
        img{
            object-fit: contain;
            height: auto;
        }
    }
    .social_links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

