@import './_variables.scss';
@import './_functions.scss';


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, 
body {
  height: 100%;
  font-family: $ff-body;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



.section_basic{
  // height: 100vh;
  padding-block: 2rem;

  .section_title{
      font-size: 5.5vw;
      font-weight: bold;
      color: $clr-primary-400;
  }

}

.main_container {
  width: min(1200px, 90vw);
  height: 100%;
  
  margin: 0 auto;

  position: relative;

}

.custom_divider_top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  svg {
      position: relative;
      display: block;
      width: calc(181% + 1.3px);
      height: 84px;
      fill: #FFFFFF;
 
  }
  
}

.section_basic{

  position: relative;
  
  .section_title{
      
      line-height: 1;
      font-size: 5.5vw;
      font-weight: bold;
      
      @include mobile() {
        font-size: 16vw;
      }

  }

  .section_title_small {
      line-height: 1;
      font-size: 3.5vw;
      font-weight: bold;
      @include mobile() {
        font-size: 10vw;
      }
  }

}




.section_title {
    line-height: 1;
    font-size: 5.5vw;
    font-weight: bold;
    @include mobile() {
      font-size: 16vw;
    }
}

.linear_gradient_background {
  background: rgb(232,166,166);
  background: linear-gradient(180deg, rgba(232,166,166,1) 0%, rgba(233,181,181,1) 81%);
}

.top_divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg {
      position: relative;
      display: block;
      width: calc(117% + 1.3px);
      height: 38px;
      fill: $clr-primary-400
  }
}

.custom_divider_waves_opacity{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
      position: relative;
      display: block;
      width: calc(139% + 1.3px);
      height: 59px;
      fill: lightpink;
  }
  
}

.footer{
  padding-block: 2rem;

  .social_links{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
  }

  .logo_footer{
      width: 100px;
      // height: 200px;
      overflow: hidden;
      position: relative;
      img{
          object-fit: contain;
          height: auto;
      }
  }
}

.button_container{
  .external_link{
      color: $clr-neutral-100;
      text-decoration: none;
      font-weight: bold;

      padding: 1rem 2rem;

      border-radius: 2rem;
      box-shadow: 0px 0px 0px 3px white;

      transition: box-shadow 200ms linear;
      &:hover{
          box-shadow: 5px 0px 0px 3px white;
      }
  }
}

.main_cta_offset {
  background: transparent;
  box-shadow: 0 0 0 1px $clr-neutral-100;
  color: transparent;    

  padding: .5rem 2.5rem;
      
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
      
  position: relative;      
  
  border: none;
  width: max-content;

  cursor: pointer;
  &::before{
      content: attr(data-text);
      position: absolute;
      color: $clr-primary-400;
      transform: translate(5px, 5px);        
      transition: transform 200ms linear;
      
  }
  &::after{
      content: '';
      position: absolute;
      background-color: white;

      width: 100%;
      height: 100%;
      inset: 0;

      z-index: -1;

      transform: translate(5px, 5px);        
      transition: transform 200ms linear;
  }


  &:hover{
      &::before,
      &::after{
          transform: translate(0px, 0px);
      } 
  }
}

.footer{
  padding-block: 2rem;

  .social_links{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
  }

  .logo_footer{
      width: 300px;
      // height: 200px;
      overflow: hidden;
      position: relative;
      img{
          object-fit: contain;
          height: auto;
      }
  }
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;


}

.bg-white {
  background-color: white;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }


// locomotive

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }


.swiper-wrapper {
  padding-bottom: 3rem;
}
.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  scale: 1.4;
  &.swiper-pagination-bullet-active {
    background-color: #919191;
  }
}